@model RetrieveTwitterUserFollowersData

@{
    ViewData["Title"] = "GetTwitterUserFollowersData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetTwitterUserFollowersData</h1>

<div>
    Current Time: @DateTime.UtcNow
</div>
<div>
    @using (Html.BeginForm(actionName: "GetTwitterUserFollowersData", controllerName: "TwitterData", method: FormMethod.Post))
    {
        <input type="text" name="txtTwitterUserHandle" id="txtTwitterUserHandle" />
        <input type="submit" value="Get Twitter Data" />
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var singleData in Model.Property1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(p => singleData.UserDetails.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(p => singleData.CreatedAtIso)
                    </td>
                    <td>
                        @Html.DisplayFor(p => singleData.TweetText)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
